[Desktop Entry]
Name=Webdict
Comment=Look up words on Wiktionary
Comment[ar]=ابحث عن الكلمات في ويكاموس
Comment[de]=Wörter in Wiktionary nachschlagen
Comment[el]=Αναζήτηση λέξεων στο Βικιλεξικό
Comment[es]=Buscar palabras en Wikcionario
Comment[fr]=Rechercher des mots dans le Wiktionnaire
Comment[hi]=विक्षनरी पर शब्द खोजें
Comment[id]=Cari kata di Wiktionary
Comment[it]=Cerca parole su Wikizionario
Comment[ja]=ウィクショナリーで単語を検索
Comment[ko]=위키낱말사전에서 단어 찾기
Comment[nl]=Woorden opzoeken in WikiWoordenboek
Comment[pl]=Wyszukuj słowa w Wikisłowniku
Comment[pt]=Pesquisar palavras no Wikcionário
Comment[ru]=Ищите слова в Викисловаре
Comment[uk]=Шукайте слова у Вікісловнику
Comment[vi]=Tra từ trên Wiktionary
Comment[zh]=在维基词典中查询单词
Exec=webdict
Icon=cz.chuang.Webdict
Terminal=false
Type=Application
Categories=Education;Dictionary;
Keywords=Dictionary;Wiktionary;Words;Language;
Keywords[ar]=قاموس;ويكاموس;كلمات;لغة;
Keywords[de]=Wörterbuch;Wiktionary;Wörter;Sprache;
Keywords[el]=Λεξικό;Βικιλεξικό;Λέξεις;Γλώσσα;
Keywords[es]=Diccionario;Wikcionario;Palabras;Idioma;
Keywords[fr]=Dictionnaire;Wiktionnaire;Mots;Langue;
Keywords[hi]=शब्दकोश;विक्षनरी;शब्द;भाषा;
Keywords[id]=Kamus;Wiktionary;Kata;Bahasa;
Keywords[it]=Dizionario;Wikizionario;Parole;Lingua;
Keywords[ja]=辞書;ウィクショナリー;単語;言語;
Keywords[ko]=사전;위키낱말사전;단어;언어;
Keywords[nl]=Woordenboek;WikiWoordenboek;Woorden;Taal;
Keywords[pl]=Słownik;Wikisłownik;Słowa;Język;
Keywords[pt]=Dicionário;Wikcionário;Palavras;Idioma;
Keywords[ru]=Словарь;Викисловарь;Слова;Язык;
Keywords[uk]=Словник;Вікісловник;Слова;Мова;
Keywords[vi]=Từ điển;Wiktionary;Từ;Ngôn ngữ;
Keywords[zh]=词典;维基词典;单词;语言;
StartupNotify=true
