[Desktop Entry]
Name=Webdict
Comment=Look up words on Wiktionary
Exec=webdict
Icon=cz.chuang.Webdict
Terminal=false
Type=Application
Categories=Education;Dictionary;
Keywords=Dictionary;Wiktionary;Words;Language;
StartupNotify=true
