[Desktop Entry]
Name=Webdict
Comment=Look up words on Wiktionary
Exec=webdict
Icon=io.github.webdict.Webdict
Terminal=false
Type=Application
Categories=Education;Dictionary;
Keywords=Dictionary;Wiktionary;Words;Language;
StartupNotify=true

